<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelSistemi.Properties.Settings.PersonelTakipConnectionString"
            connectionString="Data Source=EMRE_SEFEROGLU\SQLEXPRESS;Initial Catalog=PersonelTakip;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>